/* 背景图片开始 */
/*注册页面背景 */
.registerbg_header {
  background-image: url("../images/registerHeader.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  height: 20vh;
  width: 100%;
}

/* 问题咨询头部背景 */
.probleconsult_header {
  background-image: url("../images/problemConsult_header.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 10px #dde9d5;
}

/*审核提示页面背景*/
.nomemberstatus_bg{
  background-image: url("../images/nomembersta_bg.png");
  background-size: 100% 100%;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 背景结束*/
/*输入框上面的文字样式*/
.inputTitle {
  font-size: .88rem;
  text-align: left;
  margin: 0 0 1vh 0;
  font-weight: 600;
}

/*框架中的样式*/
.van-cell {
  line-height: 15px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.van-button {
  border-radius: 24px;
}

.van-button--large {
  height: 40px;
  line-height: 38px;
}

.van-uploader {
  border: 1px solid #dadada;
  width: 100%;
  border-radius: 5px;
  min-height: 70px;
  text-align: center;
}
