.registerbg_header {
  background-image: url("../images/registerHeader.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  height: 20vh;
  width: 100%;
}

/*输入框上面的文字样式*/
.inputTitle {
  font-size: .88rem;
  text-align: left;
  margin: 0 0 1vh 0;
  font-weight: 600;
}

/*框架中的样式*/
.van-cell {
  line-height: 20px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.van-button {
  border-radius: 24px;
}

.van-button--large {
  height: 45px;
  line-height: 44px;
}
